#testimonials{
    text-align: center;
    background-color: #ef8172;
    color:white;
}
.testimonial-imge{
    width: 150px;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
     padding:7% 15%;
} 
.testimonial-text{
    width: 150px;
}
body{
    position: relative;
    margin: 500px;
}